* {
    box-sizing: border-box;
    margin: 0px;
}

@font-face {
    font-family: calc;
    src: url(Calculator.ttf);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* header and footer items */
.header,
.footer {
    background-color: rgb(27, 27, 33);
    width: 100vw;
    min-height: 60px;
    /* contents */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    justify-self: flex-start;
}

.footer {
}

.text {
text-align: center;
color: white;
}

/* calculator items */

.content {
    flex: 1;
    /* contents */
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    min-height: 400px;
    min-width: 300px;
    background-color: rgb(0, 0, 0);
    /* contents */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.screen {
    grid-column: 1 / 5;
    background-color: rgb(67, 67, 67);
    border: 1px solid rgb(78, 78, 78);
    /* contents */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-inline: .3em;
}

.screenText {
font-size: 30px;
color: rgb(237, 237, 237);
font-family: calc;
font-weight: 500;
}

.button {
    background-color: rgb(237, 237, 237);
    border: 1px solid rgb(78, 78, 78);
    padding: .2em;
    display: flex;
    flex-direction: column;
}

.operator {
    background-color: rgb(227, 216, 70);
}

.buttontext {

}

.buttontext.center {
    /* center special character buttons */
    text-align: center;
    margin: auto auto;
}

#back {
    background-color: rgb(144, 144, 144);
}

#clear {
    background-color: rgb(255, 112, 112);
}

#equal {
    grid-row: 5 / 7;
    grid-column: 4;
    background-color: rgb(116, 221, 135);
}

#zero {
    grid-column: 1 / 3
}
