* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* header and footer items */
.header,
.footer {
    /* self */
    background-color: black;
    width: 100vw;
    min-height: 45px;
    /* contents */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    justify-self: flex-start;
}

.footer {
}

.text {
text-align: center;
color: white;
}

/* calculator items */

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    min-height: 400px;
    min-width: 300px;
    background-color: rgb(255, 0, 0);
}
